<div class='container'>
  <div class='page-view-container'>
    <h1 class='recipe-name-js'><%= @recipe.name %></h1>
    
    <% view_object = ShoppingListViewObject.new(@recipe) %>
    <% view_object.display.each do |item|%>
      <li>
        <%= item %>
      </li>
    <%end%>
    <br>
    
    <%= link_to "Get this list on email", recipe_shopping_list_path(@recipe, current_user) %>

    </div>
  </div>

  
