<div class='container'>
  <div class='page-view-container'>
    <h1 class='recipe-name-js'><%= @recipe.name %></h1>
    
    <h3><%#= @recipe_view_object.list %></h3>
    <h4><%#= @recipe_view_object.created_by %></h4>
    <%#= image_tag(@recipe_view_object.image_url, class: 'img-polaroid', style: "width:304px;height:228px", alt: @recipe_view_object.image_alt)%>

<%binding.pry%>
  <% @shopping_list_view_object.list_ingredients_and_quantities.each do |ingredient| %>
  <ul>
    <%= ingredient.name %>
  </ul>
  <% end %>



  <%# @proportions.each do |proportion| %>
    <ul>
      <%#= ProportionViewObject.new(proportion) %>
    </ul>
  <%# end %>





    </div>
  </div>

  
