<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Get Cookin', <%= @user.name %>!</h1>
    <p>
      You have successfully signed up for get-cookin.herokuapp.com,
      your username is: <%= @user.email %>.<br>
    </p>
    <p>
      To get started sharing your recipes with your friends, family, and other loved ones, just head to the site by clicking on this link (<%= @url %>). Click new recipe to share your own family favorites, or browse all our recipes.
    </p>
    <p>Thanks for joining and have a great day!</p>
    <p>Get Cookin'!</p>
  </body>
</html>